<!DOCTYPE html>
<head>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

        <div class="ui raised very padded text container segment">
                <h2 class="ui header">Today's question: {{today}}:</h2>
                <form method="GET" action="">
                <input type="text" name="solution" value="">	
                <input type="submit">
                </form>
                {{wrong}}
        </div>
</body>