<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

        <div class="puzzle-box">
                Today's question: {{today}}:
                <form method="GET" action="">
                <input type="text" name="solution" value="">	
                <input type="submit">
                </form>
                {{wrong}}
        </div>
</body>