<!DOCTYPE html>
<head>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

        <div class="ui raised very padded text container segment">
                <h2 class="ui header">Today's question: {{today}}:</h2>
                <form class="ui form">
                <div class="field">
                <label>Enter your solution:</label>
                <input type="text" name="solution" placeholder="">
                </div>
                <button class="ui button" type="submit">Submit</button>
                </form>
                {{wrong}}
        </div>

</body>