<!DOCTYPE html>
<html>
<head>
    <title>Daily Puzzle</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <div class="account">
        <div class="buttonbox">
            <a href="/login">Login</a>
        </div>
        <div class="buttonbox">
            <a href="/register">Register</a>
        </div>
    </div>
    

</head>
<body>
    <a href="/">
    <img src="/img/img2.png" alt="a">
</a>
    
        {{{body}}}
</body>
</html>
