<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>

    <div class = "ui container">
        <form class="ui form" method="GET" action="">
            <div class="field">
            <label>Search by username:</label>
            <input type="text" name="name" placeholder="">
            </div>
            <button class="ui button" type="submit">search</button>
        </form>
        <div class="ui celled list">
        {{#each leaderboard}}
            <div class="item">
                <div class="content">
                    <div class="header">{{this.username}}</div>
                    {{this.totalSolved}} Points
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</body>
</html>
