<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <div class = "ui container">
        <div class="ui celled list">
        {{#each leaderboard}}
            <div class="item">
                <div class="content">
                    <div class="header">{{this.username}}</div>
                    {{this.totalSolved}} Points
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</body>
</html>
