<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Login</h2>
  <form class="ui form" method="POST" action="">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="">
    </div>
    <button class="ui button" type="submit">Login</button>
  </form>
  <a href="/register">Don't have an account? Register here.</a>
  <br>
  {{wrong}}
</div>

</body>