<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

        <div class="puzzle-box">
                <h3>Register:</h3>
                <form method="POST" action="">
                Username: <input type="text" name="username" value=""><br>
                Password:&nbsp; <input type="text" name="password" value=""><br>
                <input type="submit" value = "Register">
                </form>

                {{wrong}}
        </div>
</body>