<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Suggest a question:</h2>
  <form class="ui form" method="POST" action="">
    <div class="field">
      <label>Suggest a question</label>
      <input type="text" name="suggestion" placeholder="" required="required">
    </div>
        <div class="field">
      <label>name: (optional)</label>
      <input type="text" name="name" placeholder="">
    </div>
    <button class="ui button" type="submit">submit</button>
  </form>
</div>

</body>